
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About Food Journal</h1>
    <div class="row">
      <p class="lead">
          <br>
          Do you take pictures of food you make, but don't know what to do with all those yummy images? <br><br>
          Why not upload them to your personal Food Journal? <br><br>
          Keep track of things you make and get inspired to try new dishes by seeing what your friends are making.
          
        </p>
    </div>
</div>
{% endblock %}

